{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend claass="border-bottom mb-4">You've been Logged Out</legend>
                {{ form | crispy}}
            </fieldset>
            <div class="form-group">
                <a href="{url 'login'}"><button class="btn btn-outline-info" type="submit">LogIn Again</button></a>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Need an new account? <a href="{% url 'register' %}">Register Here</a></small>
        </div>
    </div>
{% endblock content %}