{% extends 'blog/base.html' %}
{% block content %}

        <article class="media content-section">
            <div class="media-body" >
                <h1>About Us</h1>
                <p class="article-content">This is a blog project created by us, CSE students
                    who are passionate about web development. We created this blog to share our knowledge
                    and experience with the world. We hope you find the content on this blog useful and
                    informative. If you have any questions or suggestions, feel free to contact us. <br>
                    Thank you for visiting our website!</p>
                <h4>Contact Us At:</h4>
                <h5>Aniket Pawar: aniketpawar@dietms.org</h5>
                <h5>Rameshwar Sonwane: sonwanerameshwar522@gmail.com</h5>
            </div>
          </article>
{% endblock content %}